html, body {
  /* overflow: hidden; */
  margin: 0; /* Ensure no default margin */
  padding: 0;
}

.home-container {
  @apply min-h-screen flex flex-col justify-center items-center text-center bg-white;
  position: relative;
}

.home-container::before {
  content: "";
  background-image: url('/IITJ_COLOURED.png'); /* Reference the logo image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh; /* Increase size relative to viewport height */
  opacity: 0.2; /* Set the transparency for the logo */
  position: absolute;
  top: 0; /* Lift the image from the bottom by adjusting top */
  left: 0;
  right: 0;
  bottom: 10vh;
  z-index: 0;
  contain: layout; /* Prevents the pseudo-element from causing overflow */
}


.home-container h1,
.home-container p {
  position: relative;
  z-index: 1;
}

.home-container h1 {
  @apply text-4xl font-bold text-black mb-4;
}

.home-container p {
  @apply text-2xl text-black max-w-lg mb-16;
}